<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Password Generator</mat-card-title>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt=""> -->
  <mat-card-content>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Length</mat-label>
        <input
          matInput
          placeholder="numero caratteri. es:8"
          (input)="onChangeLength($event.target.value)"
        />

        <mat-hint>numero caratteri. es:8</mat-hint>
      </mat-form-field>
    </p>

    <div>
      <mat-checkbox (change)="onChangeUseLetters()">Use Letters</mat-checkbox>
    </div>
    <!-- [(ngModel)]="includeLetters" -->
    <div>
      <mat-checkbox (change)="onChangeUseNumbers()">Use Numbers</mat-checkbox>
    </div>
    <div>
      <mat-checkbox (change)="onChangeUseSymbols()">Use Symbols</mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      [disabled]="
        !(length && (includeLetters || includeSymbols || includeNumbers))
      "
      (click)="onButtonClick()"
      class="button is-link is-fullwidth"
    >
      Generate!
    </button>

    <div *ngIf="password">
      <mat-form-field appearance="standard">
        <mat-label>Your Password</mat-label>
        <input matInput [value]="password" />
      </mat-form-field>
    </div>
  </mat-card-actions>
</mat-card>
